extends layout.jade

block body
  h1 Index
  h2 /#{root}
  ul
    each item in files
      if item.isTree()
        li 
          i.mdi-file-folder.red-text.text-lighten-1 
          a(href='/'+ owner +'/'+ repo +'/tree/'+branch+'/'+item.toString()) #{item.filename()}
      else if item.isBlob()
        li 
          i.mdi-editor-insert-drive-file.green-text.text-lighten-1 
          a(href='/' + owner + '/' + repo +'/tree/'+branch+'/'+item.toString()) #{item.filename()}
  br
  a.dropdown-button.btn#branch(data-activates='branch-dropdown') #{branch}
  ul#branch-dropdown.dropdown-content
    each item in branchList
      li: a(href='/' + owner + '/' + repo + '/?branch='+item) #{item}
  script(src='/js/index.js')
